{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block main-content %}
<div class="container mt-3">
  <div class="text-center">
      <h2 style="font-family: 'Lora', serif;"><b>About us</b></h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1 style="font-family: Georgia; font-size: 20px; text-align: justify;">Indulge in a culinary adventure at SFIT Food Adda, your ultimate destination for delicious meals on campus. 🍽️✨</h1>
      <h1 style="font-family: 'Lora', serif; font-size: 20px; text-align: justify;"><strong>Here’s a Little Bit About WHAT WE DO</strong></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4 style="font-family: 'Crimson Pro', serif; font-size: 26px; text-align: justify;">   
        <b>SFIT Food Adda</b> a Smart Canteen is your go-to spot for quick bites when time is tight ⏰. With our time-based recommendations, you'll always find the perfect meal to fit your schedule, whether it's a hearty breakfast to start your day or a light lunch for those busy afternoons ☀️. Our diverse menu offers something for everyone, from classic favorites to unique dishes 🍔🥗. Plus, our affordable pricing ensures that you can enjoy delicious meals without breaking the bank 💰. Join us at SFIT Food Adda, where great food meets convenience and community! 🍴👥
      </h4>
    </div>
  </div>
  <br>
  <br>
  <div class="text-center">
      <h2>Our Team</h2>
  </div>
  <div class="row">
      <div class="col-md-4">
          <div class="card">
              <div class="container">
                  <h2 style="text-align:center">Sania Dmello</h2>
                  <p class="title">CEO & Founder</p>
                  <p>saniadmello11@gmail.com</p>
                  <p><button class="button3">Contact</button></p>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card">
              <div class="container">
                  <h2 style="text-align:center">Sally Dmello</h2>
                  <p class="title">Co-Founder</p>
                  <p>sallydmello23@gmail.com</p>
                  <p><button class="button3">Contact</button></p>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card">
              <div class="container">
                  <h2 style="text-align:center">Daisy Dabre</h2>
                  <p class="title">Co-Founder</p>
                  <p>dabredaisy@gmail.com</p>
                  <p><button class="button3">Contact</button></p>
              </div>
          </div>
      </div>
  </div>
</div>
    <br></br>
{% endblock main-content %}