{% extends 'app/base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row flex justify-content-between">
        <div class="img2 col-lg-4 mt-4">
            <img src="{{ product.Image }}" alt="{{ product.food_name }}" class="image col-xs-4 col-sm-10 col-lg-10 mt-3 text-sm center" style="width: 300px; height: 250px;">
        </div>
        <div class="productdetail col-lg-7">
            <br></br>
            <h1 style="font-family: Georgia; text-transform: capitalize; font-size: 50px;">{{ product.food_name }}</h1>
            <h5>Rs. {{ product.price }}/-</h5>
            {% comment %} <div class="text-left">
                <h1 style="font-family: Georgia; font-size: 18px;">Unlock the Magic of Crystals</h1>
            </div> {% endcomment %}
            <div class="text-left">
                <h1 style="font-family: Georgia; font-size: 20px;">Product Description</h1>
            </div>
            <ul class="fs-6" style="font-family: Rajdhani;">
                <li style="text-transform: capitalize;">Category: {{ product.food_category }}</li>
                <li style="text-transform: capitalize;">Subcategory: {{ product.sub_category }}</li>
            </ul>
            <div style="font-family: Rajdhani;">
                <form action="/add-to-cart" class="d-inline">
                    <input type="hidden" name="prod_id" value="{{ product.id }}" />
                    <button type="submit" class="btn btn-danger shadow px-4 py-2">Add to cart</button>
                </form>
                <!-- Add other buttons or links here -->
            </div>
        </div>
    </div>

    {% if same_category_recommendations %}
    <div class="row">
        <div class="col-12">
            <h1 style="color: #b22222; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 50px;">Find your perfect food match!</h1>
        </div>
        {% for recommendation in same_category_recommendations %}
        <div class="col-md-2 mb-3">
            <a href="{% url 'product-detail' pk=recommendation.pk %}" class="card-link" style="text-decoration: none; color: black;">
                <div class="card">
                    <img class="card-img-top" src="{{ recommendation.image_title }}" alt="" style="height: 150px; object-fit: cover;">
                    <div class="card-body">
                        <b><h4 class="name-style mb-0" style="height: 55px; overflow: hidden; text-overflow: ellipsis; text-transform: capitalize; font-size: 20px;">{{ recommendation.food_name }}</h4></b>
                        <h5 class="name-style mb-0" style="height: 40px; overflow: hidden; text-overflow: ellipsis;">Rs. {{ recommendation.price }}</h5>
                        <p class="name-style mb-0">{{ recommendation.sub_category }}</p>
                    </div>
                </div>
            </a>
            {% comment %} <form action="/add_to_cart" method="post">
                <input type="hidden" name="food_name" value="{{ recommendation.food_name }}">
                <button type="submit" class="btn btn-primary mt-2">Add to Cart</button>
            </form> {% endcomment %}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if recommendations %}
    <div class="row">
        <div class="col-12">
            <h1 style="color: #b22222; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 30px;">Also Try this..</h1>
        </div>
        {% for recommendation in recommendations %}
        <div class="col-md-2 mb-3">
            <a href="{% url 'product-detail' pk=recommendation.pk %}" class="card-link" style="text-decoration: none; color: black;">
            <div class="card">
                <img class="card-img-top" src="{{ recommendation.image_title }}" alt="" style="height: 150px; object-fit: cover;">
                <div class="card-body">
                    <h3 class="name-style" style="height: 55px; overflow: hidden; text-overflow: ellipsis; text-transform: capitalize; font-size: 20px;">{{ recommendation.food_name }}</h3>
                    <h5 class="name-style" style="height: 30px; overflow: hidden; text-overflow: ellipsis;">Rs. {{ recommendation.price }}</h5>
                    <p class="name-style">{{ recommendation.food_category }}</p>
                </div>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div> 
<br></br>
   
{% endblock main-content %}